.footer {
    background-color: #020033e3;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 2px;
    margin-top: auto;
}
.footer p {
    color: #d4dfc7;
    font-weight: 500;
    margin: 0;
    padding: 0;
}